[Unit]
Description=Subdomain Monitoring Service
After=network.target

[Service]
User=$USER
Group=$(id -gn)
Environment="PATH=~/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/bin/submonitor.sh

[Install]
WantedBy=multi-user.target
